<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.linqDBConnectionString"
            connectionString="Data Source=DESKTOP-J7689UF;Initial Catalog=udemy_tutorial;Persist Security Info=True;User ID=sa;Password=cheese"
            providerName="System.Data.SqlClient" />
        <add name="LinqToSQL.Properties.Settings.udemy_tutorialConnectionString"
            connectionString="Data Source=DESKTOP-J7689UF;Initial Catalog=udemy_tutorial;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>